<div class="wrapper">
  <%- include("./_contents/_mv.ejs") %>
  <%- include("./_contents/_intro.ejs") %>

  <%- include("./_contents/_profile.ejs") %>

  <%- include("./_contents/_footer.ejs") %>
</div>

<script src="<%= rootURL %>assets/js/index.js?ver=<%= Date.now() %>"></script>