<%
  const creditList = [
    { job: "Photo（model）", name: "SAKAI DE JUN" },
    { job: "Photo（still）", name: "Takehiro Uochi" },
    { job: "Movie Direction", name: "Koya Matsuba［Rhino inc.］" },
    { job: "Design", name: "Rikako Urayama［Rhino inc.］" },
    { job: "Web Development", name: "Kenta Miyazaki［Rhino inc.］" },
    { job: "Edit", name: "Rico Kato［Rhino inc.］" },
  ]
%>

<footer class="footer">
  <div class="footer__inner">
    <div class="footer__all-link">
      <img src="<%- rootURL %>/assets/img/icon_handsign.png" alt="">
      <a href="/">全てのアイテム</a>
      <img src="<%- rootURL %>/assets/img/icon_handsign.png" alt="">
    </div>

    <div class="footer__credit-box">
      <dl class="footer__credit">
        <% creditList.forEach(element => { %>
        <div class="footer__credit__item">
          <dt><%- element.job %></dt>
          <dd><%- element.name %></dd>
        </div>
        <% }) %>
      </dl>
    </div>

    <div class="footer__logo-box">
      <p class="footer__lepsim-logo"><%- include("./_svg/_lepsim.ejs") %></p>
      <div class="footer__sns-box">
        <a href="/" target="_blank" rel="noopener noreferrer" class="footer__x">
          <img src="<%- rootURL %>/assets/img/icon_x.svg" alt="X">
        </a>
        <a href="/" target="_blank" rel="noopener noreferrer" class="footer__insta">
          <img src="<%- rootURL %>/assets/img/icon_insta.svg" alt="Instagram">
        </a>
        <a href="/" target="_blank" rel="noopener noreferrer" class="footer__line">
          <img src="<%- rootURL %>/assets/img/icon_line.svg" alt="LINE">
        </a>
        <a href="/" target="_blank" rel="noopener noreferrer" class="footer__tiktok">
          <img src="<%- rootURL %>/assets/img/icon_tiktok.svg" alt="TikTok">
        </a>
      </div>
    </div>

    <p class="footer__copyright"><small>Copyright &copy; Adastria Co., Ltd. All rights reserved.</small></p>
  </div>
</footer>
