<div class="item <%- className %>">

  <div class="item__header">
    <span><%- num %></span>
    <span class="item__header__center">FEATURED ITEM</span>
    <span><%- num %></span>
  </div>

  <div class="item__ttl">
    <h2 class="item__ttl__primary"><%- ttl %></h2>
    <p class="item__ttl__primaryja"><%- ttlja %></p>
    <p class="item__ttl__sub"><%- sub %></p>
  </div>

  <div class="item__container">
    <% const comment1to2 = commentList.slice(0, 2) %>
    <% comment1to2.forEach(element => { %>
    <div class="item__comment item__comment--<%- element.name %>">
      <p class="item__comment__lead">
        <span class="item__comment__lead__comment"><%- element.comment %></span>
        <svg class="item__comment__lead__triangle" viewBox="0 0 34 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M19.8566 45.0939C18.9655 47.8722 15.0345 47.8722 14.1433 45.0938L0.935635 3.91626C0.314603 1.98008 1.75893 -3.08087e-06 3.79228 -2.90311e-06L30.2077 -5.93801e-07C32.2411 -4.1604e-07 33.6854 1.98008 33.0644 3.91627L19.8566 45.0939Z" fill="#fff"/>
        </svg>
      </p>
      <img class="item__comment__img" src="<%- rootURL %>/assets/img/item/face_<%- element.name %>.png" alt="">
    </div>
    <% }) %>

    <div class="item__slider-box">
      <%- include("./_item-slider.ejs", {
        items: ["outer_1.png", "outer_2.png", "outer_3.png", "outer_4.png"]
      }) %>

      <div>
        <a href="/">DETAIL & BUY</a>
      </div>
    </div>

    <% const comment3to4 = commentList.slice(2, 4) %>
    <% comment3to4.forEach(element => { %>
    <div class="item__comment item__comment--<%- element.name %>">
      <p class="item__comment__lead">
        <span class="item__comment__lead__comment"><%- element.comment %></span>
        <svg class="item__comment__lead__triangle" viewBox="0 0 34 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M19.8566 45.0939C18.9655 47.8722 15.0345 47.8722 14.1433 45.0938L0.935635 3.91626C0.314603 1.98008 1.75893 -3.08087e-06 3.79228 -2.90311e-06L30.2077 -5.93801e-07C32.2411 -4.1604e-07 33.6854 1.98008 33.0644 3.91627L19.8566 45.0939Z" fill="#fff"/>
        </svg>
      </p>
      <img class="item__comment__img" src="<%- rootURL %>/assets/img/item/face_<%- element.name %>.png" alt="">
    </div>
    <% }) %>

  </div>

</div>
