<div class="mv has-animation">

  <div class="mv__inner">

    <div class="mv__circle-group mv__circle-group--1">
      <%- include("./_circle.ejs", {
        className: "circle--orange circle--mv-gourp-1-1",
      }) %>
      <%- include("./_circle.ejs", {
        className: "circle--green circle--mv-gourp-1-2",
      }) %>
      <%- include("./_circle.ejs", {
        className: "circle--yellow circle--mv-gourp-1-3",
      }) %>
      <%- include("./_circle.ejs", {
        className: "circle--blue circle--mv-gourp-1-4",
      }) %>
    </div>
    <div class="mv__circle-group mv__circle-group--2">
      <%- include("./_circle.ejs", {
        className: "circle--orange circle--mv-gourp-2-1",
      }) %>
      <%- include("./_circle.ejs", {
        className: "circle--green circle--mv-gourp-2-2",
      }) %>
      <%- include("./_circle.ejs", {
        className: "circle--blue circle--mv-gourp-2-3",
      }) %>
      <%- include("./_circle.ejs", {
        className: "circle--yellow circle--mv-gourp-2-4",
      }) %>
    </div>

    <h1 class="mv__ttl">
      <img src="<%- rootURL %>/assets/img/site_ttl.png" alt="LEPSIM PROJECT">
    </h1>
  
    <div class="mv__carousel">
      <div class="mv__carousel__container">
        <div class="mv__carousel__item">
          <img class="is-sp" src="<%- rootURL %>/assets/img/mv/3.png" alt="">
          <img class="is-pc" src="<%- rootURL %>/assets/img/mv/1.png" alt="">
        </div>
        <div class="mv__carousel__item mv__carousel__item__2">
          <img class="is-sp" src="<%- rootURL %>/assets/img/mv/1.png" alt="">
          <img class="is-pc" src="<%- rootURL %>/assets/img/mv/2.png" alt="">
        </div>
        <div class="mv__carousel__item mv__carousel__item__3">
          <img class="is-sp" src="<%- rootURL %>/assets/img/mv/2.png" alt="">
          <img class="is-pc" src="<%- rootURL %>/assets/img/mv/3_PC.png" alt="">
        </div>
        <p class="mv__carousel__label mv__carousel__label--sp is-sp">my favorite winter color</p>
        <p class="mv__carousel__label mv__carousel__label--pc mv__carousel__label--pc-1 is-pc">my favorite winter color</p>
        <p class="mv__carousel__label mv__carousel__label--pc mv__carousel__label--pc-2 is-pc">my favorite winter color</p>
      </div>
    </div>
  
    <p class="mv__logo-lepsim">
      <%- include("./_svg/_lepsim.ejs") %>
    </p>
  </div>

</div>