<div class="mv">

  <div class="mv__inner">
    <h1 class="mv__ttl">
      <img src="<%- rootURL %>/assets/img/site_ttl.png" alt="LEPSIM PROJECT">
    </h1>
  
    <div class="mv__carousel">
      <div class="mv__carousel__container">
        <div><img src="<%- rootURL %>/assets/img/mv/01.png" alt=""></div>
        <div><img src="<%- rootURL %>/assets/img/mv/02.png" alt=""></div>
        <div><img src="<%- rootURL %>/assets/img/mv/03.png" alt=""></div>
        <p class="mv__carousel__label mv__carousel__label--sp is-sp">my favorite winter color</p>
        <p class="mv__carousel__label mv__carousel__label--pc mv__carousel__label--pc-1 is-pc">my favorite winter color</p>
        <p class="mv__carousel__label mv__carousel__label--pc mv__carousel__label--pc-2 is-pc">my favorite winter color</p>
      </div>
    </div>
  
    <p class="mv__logo-lepsim">
      <%- include("./_svg/_lepsim.ejs") %>
    </p>
  </div>

</div>