<%
  const profileList = [
    {
      name: "310",
      circleColor: "orange",
      spot: "大分店",
      status: "163cm / 40代前半、2児のママ",
      instagram: "https://www.instagram.com/310_lepsim/",
      board: "https://www.dot-st.com/cp/sb-staff-detail/?user_id=10310",
      question1: [
        {
          Q: "レププロ、1番の思い出は？",
          A: "とにかく楽しかった！大変なこともレププロチームのお陰で楽しく乗り越えられました♡"
        },
        {
          Q: "最近のLEPSIMのおすすめアイテムは？",
          A: "1番ヘビロテしてるのはスニーカーブーツです♡"
        },
      ],
      question2: [
        {
          Q: "この冬にやりたいことは？",
          A: "家でお鍋をするのが楽しみ！雪遊びやクリスマスなど、子供たちに全力を尽くします♡"
        },
        {
          Q: "おすすめの地元スポット",
          A: "温泉!! あたたまった後にアイスを食べるのが至福♡ 特に、夜景もキレイな別府が好き！"
        },
      ],
    },
    {
      name: "MIWATARA",
      circleColor: "green",
      spot: "流山店",
      status: "156cm / 30代後半、2児のママ",
      instagram: "https://www.instagram.com/miwatara_lepsim/",
      board: "https://www.dot-st.com/cp/sb-staff-detail/?user_id=18760",
      question1: [
        {
          Q: "レププロ、1番の思い出は？",
          A: "洋服の企画だけでなく、撮影で演技やラジオなど！貴重な体験で思い出でばかり♡"
        },
        {
          Q: "最近のLEPSIMのおすすめアイテムは？",
          A: "靴下！カラー、レース、ルーズソックスと豊富なラインナップが揃っています！"
        },
      ],
      question2: [
        {
          Q: "この冬にやりたいことは？",
          A: "ディズニーに行けてないので、子供たちと3人で行きたいです！"
        },
        {
          Q: "この冬おすすめの地元スポットは？",
          A: "高架下の飲み屋もおしゃれで、流山店付近に有名な銭湯もあるみたい！気になってます♪"
        },
      ],
    },
    {
      name: "YUKIHA",
      circleColor: "yellow",
      spot: "モモテラス店",
      status: "155cm / 30代前半、2児のママ",
      instagram: "https://www.instagram.com/yukiha_lepsim/",
      board: "https://www.dot-st.com/cp/sb-staff-detail/?user_id=47462",
      question1: [
        {
          Q: "レププロ、1番の思い出は？",
          A: "初のロケ撮影！子役を交えた撮影や急な雨など、みんなで笑い合ったのがいい思い出♡"
        },
        {
          Q: "最近のLEPSIMのおすすめアイテムは？",
          A: "パフエアZIPBIGフーディ！3色持ってる大好きなアイテムです♡"
        },
      ],
      question2: [
        {
          Q: "この冬にやりたいことは？",
          A: "こたつを買いたい！引っ越して早5年... そろそろこたつデビューしたいです(笑)"
        },
        {
          Q: "この冬おすすめの地元スポットは？",
          A: "京都の嵐山！冬は、観光のついでに、ぜひ温かい湯葉を食べてみて下さい♡"
        },
      ],
    },
    {
      name: "KATSUKO",
      circleColor: "blue",
      spot: "四條畷店",
      status: "158cm / 30代後半、3児のママ",
      instagram: "https://www.instagram.com/katsuco.m/",
      board: "https://www.dot-st.com/cp/sb-staff-detail/?user_id=10492 ",
      question1: [
        {
          Q: "レププロ、1番の思い出は？",
          A: "4人での撮影♪ 今回このメンバーで最後の撮影だったので、思いきり楽しみました！"
        },
        {
          Q: "最近のLEPSIMのおすすめアイテムは？",
          A: "パフエア切り替えBIGプルオーバー！軽い着心地＆どんなコーデにも合うので最高です♡"
        },
      ],
      question2: [
        {
          Q: "この冬にやりたいことは？",
          A: "子どもたちと旅行 ♪ 韓国、上海あたりを狙ってます。あと、ダイエット！！！笑"
        },
        {
          Q: "この冬おすすめの地元スポットは？",
          A: "断然ユニバ！クリスマスは楽しいイベントと大きなツリーが飾られていておすすめです！"
        },
      ],
    },
  ]
%>

<% profileList.forEach(element => { %>
  <div id="profile-modal-<%- element.name %>" class="profile-modal profile-modal--<%- element.name %> has-active">
  
    <div class="profile-modal__container">
  
      <div class="profile-modal__contents">
  
        <div class="profile-modal__question">
        <% element.question1.forEach(question => { %>
          <div class="profile-modal__question__item profile-modal__question__item--1">
            <p class="profile-modal__question__item__q"><%- question.Q %></p>
            <div class="profile-modal__question__item__a-wrapper">
              <p class="profile-modal__question__item__a"><%- question.A %></p>
            </div>
          </div>
        <% }) %>
        </div>

        <div class="profile-modal__photo">
          <img class="profile-modal__photo__1" src="<%- rootURL %>/assets/img/profile/<%- element.name %>_1.png" alt="">
          <img class="profile-modal__photo__2" src="<%- rootURL %>/assets/img/profile/<%- element.name %>_2.png" alt="">

          <%- include("./_circle.ejs", {
            className: `circle--profile-modal circle--profile-modal--1 circle--${element.circleColor}`,
          }) %>
          <%- include("./_circle.ejs", {
            className: `circle--profile-modal circle--profile-modal--2 circle--${element.circleColor}`,
          }) %>
          <%- include("./_circle.ejs", {
            className: `circle--profile-modal circle--profile-modal--3 circle--${element.circleColor}`,
          }) %>
          <%- include("./_circle.ejs", {
            className: `circle--profile-modal circle--profile-modal--4 circle--${element.circleColor}`,
          }) %>
        </div>
  
        <div class="profile-modal__info">
          <p class="profile-modal__info__name"><%- element.name %></p>
          <p class="profile-modal__info__spot">
            <img class="profile-modal__info__spot__icon" src="<%- rootURL %>/assets/img/icon_pin.svg" alt="">
            <%- element.spot %>
          </p>
          <p class="profile-modal__info__status"><%- element.status %></p>
          <div class="profile-modal__info__link-box">
            <a href="<%- element.instagram %>" target="_blank" rel="noopener noreferrer" class="profile-modal__info__link">INSTAGRAM</a>
            <a href="<%- element.board %>" target="_blank" rel="noopener noreferrer" class="profile-modal__info__link">STAFF BOARD</a>
          </div>
        </div>
  
        <div class="profile-modal__question">
        <% element.question2.forEach(question => { %>
          <div class="profile-modal__question__item profile-modal__question__item--2">
            <p class="profile-modal__question__item__q"><%- question.Q %></p>
            <div class="profile-modal__question__item__a-wrapper">
              <p class="profile-modal__question__item__a"><%- question.A %></p>
            </div>
          </div>
        <% }) %>
        </div>
  
        <button type="button" class="profile-modal__close">
          <img src="<%- rootURL %>/assets/img/icon_close.svg" alt="">
        </button>
      </div>
  
    </div>
  
  </div>
<% }) %>