<div class="profile-button profile-button--<%- name %>">
  <h3 class="profile-button__name"><%- name %></h3>
  <img class="profile-button__plus-icon" src="<%- rootURL %>/assets/img/profile/<%- name %>.png" alt="">
  <button type="button" data-profile="<%- name %>" class="profile-button__opener">
    <img class="profile-button__opener__plus-icon" src="<%- rootURL %>/assets/img/icon_plus.svg" alt="">
  </button>
</div>
