<section class="profile">
  <div class="profile__ttl">
    <h2 class="profile__ttl__text">
      <img class="profile__ttl__text__icon" src="<%- rootURL %>/assets/img/icon_burn.png" alt="">
      <span class="profile__ttl__text__primary">LEPSTA PROFILE</span>
      <img class="profile__ttl__text__icon" src="<%- rootURL %>/assets/img/icon_burn.png" alt="">
    </h2>
  </div>

  <div class="profile__list">
    <%- include("./_profile-button.ejs", {
      name: "310",
    }) %>
    <%- include("./_profile-button.ejs", {
      name: "MIWATARA",
    }) %>
    <%- include("./_profile-button.ejs", {
      name: "YUKIHA",
    }) %>
    <%- include("./_profile-button.ejs", {
      name: "KATSUKO",
    }) %>
  </div>
</section>