<section class="style">
  <div class="style__inner">
    <div class="style__heading">
      <p class="style__heading__en">STYLE IT YOUR WAY!</p>
      <h2 class="style__heading__ja">私たちの冬支度｡</h2>
    </div>
  
    <div class="style__mv">
      <div class="style__mv__marquee">
        <div class="style__mv__track">
          <div class="style__mv__item"><img src="<%- rootURL %>/assets/img/style/mv.png" alt=""></div>
          <div class="style__mv__item"><img src="<%- rootURL %>/assets/img/style/mv.png" alt=""></div>
        </div>
      </div>
      <img class="style__mv__bg" src="<%- rootURL %>/assets/img/style/mv_bg.svg" alt="">
    </div>
    <div class="style__concept">
      <p class="style__concept__lead">今回企画した、アウターとニットを<br class="is-sp">取り入れたスタイリングをご紹介！<br>この冬をもっと楽しむ、<br class="is-sp">とっておきの着こなしをお届けします。</p>
      <img class="style__concept__arrow" src="<%- rootURL %>/assets/img/style/arrow_tobottom.svg" alt="">
    </div>

    <div class="style__list-wrapper">
      <div class="style__list-inner">
        <%- include("./_style-list.ejs") %>
      </div>
    </div>

  </div>
</section>