<%
  const styleList = [
    {
      type: "CASUAL",
      name: "KATSUKO",
      circleColor: "blue",
    },
    {
      type: "TRENDY",
      name: "YUKIHA",
      circleColor: "yellow",
    },
    {
      type: "DAILY",
      name: "310",
      circleColor: "orange",
    },
    {
      type: "COLOR",
      name: "MIWATARA",
      circleColor: "green",
    },
  ]
%>

<ul class="style-list">
  <% styleList.forEach(element => { %>
  <li class="style-list__item style-list__item--<%- element.type %>">
    <%
      const classNameCircle = `circle--style-list circle--${element.circleColor}`
    %>
    <%- include("./_circle.ejs", {
      className: classNameCircle,
    }) %>
    <h3 class="style-list__type"><%- element.type %></h3>
    <div class="style-list__thumb">
      <img class="style-list__thumb__1" src="<%- rootURL %>/assets/img/style/thumb_<%- element.name %>_1.jpg" alt="">
      <img class="style-list__thumb__2" src="<%- rootURL %>/assets/img/style/thumb_<%- element.name %>_2.jpg" alt="">
    </div>
    <div class="style-list__bottom">
      <p class="style-list__bottom__name">BY_<%- element.name %></p>
      <button type="button" data-profile="<%- element.name %>" class="style-list__bottom__opener">
        <img class="profile-button__opener__plus-icon" src="<%- rootURL %>/assets/img/icon_plus_black.svg" alt="">
      </button>
    </div>
  </li>
  <% }) %>
</ul>