<%
  const styleList = [
    {
      type: "CASUAL",
      circleColor: "blue",
      name: "KATSUKO",
      listCount: 5,
      linkList: [
        [
          { name: "Jacket", price: "13,990", link: "https://www.dot-st.com/lepsim/disp/item/592836/" },
          { name: "Knit", price: "7,990", link: "https://www.dot-st.com/lepsim/disp/item/600245/" },
          { name: "Pants", price: "6,600", link: "https://www.dot-st.com/lepsim/disp/item/497353/" },
          { name: "Shoes", price: "4,990", link: "https://www.dot-st.com/lepsim/disp/item/589556/" },
        ],
        [
          { name: "Knit", price: "7,990", link: "https://www.dot-st.com/lepsim/disp/item/600245/" },
          { name: "Pants", price: "6,600", link: "https://www.dot-st.com/lepsim/disp/item/497353/" },
          { name: "Shoes", price: "4,990", link: "https://www.dot-st.com/lepsim/disp/item/589556/" },
        ],
        [
          { name: "Knit", price: "7,990", link: "https://www.dot-st.com/lepsim/disp/item/600245/" },
          { name: "Pants", price: "5,990", link: "https://www.dot-st.com/lepsim/disp/item/578201/" },
          { name: "Cap", price: "4,840", link: "https://www.dot-st.com/lepsim/disp/item/494042/" },
          { name: "Bag", price: "5,990", link: "https://www.dot-st.com/lepsim/disp/item/579910/" },
        ],
        [
          { name: "Knit", price: "7,990", link: "https://www.dot-st.com/lepsim/disp/item/600245/" },
          { name: "Skirt", price: "5,990", link: "https://www.dot-st.com/lepsim/disp/item/497324/" },
          { name: "Shoes", price: "6,600", link: "https://www.dot-st.com/lepsim/disp/item/589564/" },
          { name: "Bag", price: "4,400", link: "https://www.dot-st.com/lepsim/disp/item/586614/" },
        ],
        [
          { name: "Knit", price: "7,990", link: "https://www.dot-st.com/lepsim/disp/item/600245/" },
          { name: "Pants", price: "6,990", link: "https://www.dot-st.com/lepsim/disp/item/497418/" },
          { name: "Beanie", price: "2,200", link: "https://www.dot-st.com/lepsim/disp/item/589162/" },
          { name: "Bag", price: "5,990", link: "https://www.dot-st.com/lepsim/disp/item/579910/" },
        ],
      ],
    },
    {
      type: "DAILY",
      circleColor: "orange",
      name: "310",
      listCount: 5,
      linkList: [
        [
          { name: "Jacket", price: "13,990", link: "https://www.dot-st.com/lepsim/disp/item/592836/" },
          { name: "Knit", price: "5,990", link: "https://www.dot-st.com/lepsim/disp/item/600243/" },
          { name: "Shirt", price: "5,990", link: "https://www.dot-st.com/lepsim/disp/item/487481/" },
          { name: "Pants", price: "6,600", link: "https://www.dot-st.com/lepsim/disp/item/494514/" },
          { name: "Shoes", price: "4,990", link: "https://www.dot-st.com/lepsim/disp/item/589556/" },
          { name: "Bag", price: "4,400", link: "https://www.dot-st.com/lepsim/disp/item/586614/" },
        ],
        [
          { name: "Knit", price: "5,990", link: "https://www.dot-st.com/lepsim/disp/item/600243/" },
          { name: "Shirt", price: "5,990", link: "https://www.dot-st.com/lepsim/disp/item/487481/" },
          { name: "Pants", price: "6,600", link: "https://www.dot-st.com/lepsim/disp/item/494514/" },
          { name: "Shoes", price: "4,990", link: "https://www.dot-st.com/lepsim/disp/item/589556/" },
          { name: "Bag", price: "4,400", link: "https://www.dot-st.com/lepsim/disp/item/586614/" },
        ],
        [
          { name: "Knit", price: "5,990", link: "https://www.dot-st.com/lepsim/disp/item/600243/" },
          { name: "Skirt", price: "6,990", link: "https://www.dot-st.com/lepsim/disp/item/577243/" },
          { name: "Shoes", price: "7,700", link: "https://www.dot-st.com/lepsim/disp/item/595854/" },
          { name: "Bag", price: "5,500", link: "https://www.dot-st.com/lepsim/disp/item/577231/" },
        ],
        [
          { name: "Hoodie", price: "7,700", link: "https://www.dot-st.com/lepsim/disp/item/582465/" },
          { name: "Knit", price: "5,990", link: "https://www.dot-st.com/lepsim/disp/item/600243/" },
          { name: "Skirt", price: "5,990", link: "https://www.dot-st.com/lepsim/disp/item/477324/" },
          { name: "Shoes", price: "7,700", link: "https://www.dot-st.com/lepsim/disp/item/595854/" },
          { name: "Bag", price: "5,500", link: "https://www.dot-st.com/lepsim/disp/item/577231/" },
        ],
        [
          { name: "Knit", price: "5,990", link: "https://www.dot-st.com/lepsim/disp/item/600243/" },
          { name: "Tulle", price: "5,500", link: "https://www.dot-st.com/lepsim/disp/item/582454/" },
          { name: "Skirt", price: "5,990", link: "https://www.dot-st.com/lepsim/disp/item/477324/" },
          { name: "Shoes", price: "7,700", link: "https://www.dot-st.com/lepsim/disp/item/595854/" },
          { name: "Bag", price: "4,990", link: "https://www.dot-st.com/lepsim/disp/item/324877/" },
        ]
      ],
    },
    {
      type: "TRENDY",
      circleColor: "yellow",
      name: "YUKIHA",
      listCount: 5,
      linkList: [
        [
          { name:"Jacket", price: "13,990", link: "https://www.dot-st.com/lepsim/disp/item/592836/" },
          { name:"Cardigan", price: "6,990", link: "https://www.dot-st.com/lepsim/disp/item/600246/" },
          { name:"Tops", price: "3,990", link: "https://www.dot-st.com/lepsim/disp/item/582379/" },
          { name:"Skirt", price: "4,990", link: "https://www.dot-st.com/lepsim/disp/item/497451/" },
          { name:"Shoes", price: "7,700", link: "https://www.dot-st.com/lepsim/disp/item/595854/" },
          { name:"Cap", price: "4,840", link: "https://www.dot-st.com/lepsim/disp/item/494042/" },
        ],
        [
          { name: "Cardigan", price: "6,990", link: "https://www.dot-st.com/lepsim/disp/item/600246/" },
          { name: "Skirt", price: "4,990", link: "https://www.dot-st.com/lepsim/disp/item/497451/" },
          { name: "Tops", price: "3,990", link: "https://www.dot-st.com/lepsim/disp/item/582379/" },
          { name: "Shoes", price: "7,700", link: "https://www.dot-st.com/lepsim/disp/item/595854/" },
          { name: "Cap", price: "4,840", link: "https://www.dot-st.com/lepsim/disp/item/494042/" },
        ],
        [
          { name: "Cardigan", price: "6,990", link: "https://www.dot-st.com/lepsim/disp/item/600246/" },
          { name: "Skirt", price: "5,500", link: "https://www.dot-st.com/lepsim/disp/item/497454/" },
          { name: "Blouson", price: "7,700", link: "https://www.dot-st.com/lepsim/disp/item/322069/" },
          { name: "Inner", price: "3,990", link: "https://www.dot-st.com/lepsim/disp/item/582469/" },
          { name: "Shoes", price: "7,700", link: "https://www.dot-st.com/lepsim/disp/item/595854/" },
          { name: "Bag", price: "5,500", link: "https://www.dot-st.com/lepsim/disp/item/574895/" },
        ],
        [
          { name: "Cardigan", price: "6,990", link: "https://www.dot-st.com/lepsim/disp/item/600246/" },
          { name: "Skirt", price: "5,990", link: "https://www.dot-st.com/lepsim/disp/item/577250/" },
          { name: "T-shirt", price: "4,990", link: "https://www.dot-st.com/lepsim/disp/item/598101/" },
          { name: "Shoes", price: "7,700", link: "https://www.dot-st.com/lepsim/disp/item/577994/" },
          { name: "Cap", price: "4,620", link: "https://www.dot-st.com/lepsim/disp/item/286144/" },
          { name: "Bag", price: "4,400", link: "https://www.dot-st.com/lepsim/disp/item/579049/" },
        ],
        [
          { name: "Cardigan", price: "6,990", link: "https://www.dot-st.com/lepsim/disp/item/600246/" },
          { name: "Pants", price: "6,990", link: "https://www.dot-st.com/lepsim/disp/item/497418/" },
          { name: "Eye-glasses", price: "2,490", link: "https://www.dot-st.com/lepsim/disp/item/451342/" },
          { name: "Shoes", price: "5,990", link: "https://www.dot-st.com/lepsim/disp/item/578009/" },
          { name: "Bag", price: "5,990", link: "https://www.dot-st.com/lepsim/disp/item/579910/" },
        ]
      ],
    },
    {
      type: "COLOR",
      circleColor: "green",
      name: "MIWATARA",
      listCount: 5,
      linkList: [
        [
          { name: "Jacket", price: "13,990", link: "https://www.dot-st.com/lepsim/disp/item/592836/" },
          { name: "Knit", price: "6,600", link: "https://www.dot-st.com/lepsim/disp/item/600244/" },
          { name: "Skirt", price: "5,990", link: "https://www.dot-st.com/lepsim/disp/item/497324/" },
          { name: "Bag", price: "4,400", link: "https://www.dot-st.com/lepsim/disp/item/586614/" },
        ],
        [
          { name: "Knit", price: "6,600", link: "https://www.dot-st.com/lepsim/disp/item/600244/" },
          { name: "Skirt", price: "5,990", link: "https://www.dot-st.com/lepsim/disp/item/497324/" },
          { name: "Bag", price: "4,400", link: "https://www.dot-st.com/lepsim/disp/item/586614/" },
        ],
        [
          { name: "Knit", price: "6,600", link: "https://www.dot-st.com/lepsim/disp/item/600244/" },
          { name: "T-shirt", price: "4,990", link: "https://www.dot-st.com/lepsim/disp/item/598101/" },
          { name: "Shoes", price: "5,990", link: "https://www.dot-st.com/lepsim/disp/item/581668/" },
          { name: "Hat", price: "6,600", link: "https://www.dot-st.com/lepsim/disp/item/581668/" },
          { name: "Bag", price: "4,400", link: "https://www.dot-st.com/lepsim/disp/item/598110/" },
        ],
        [
          { name: "Knit", price: "6,600", link: "https://www.dot-st.com/lepsim/disp/item/600244/" },
          { name: "Pants", price: "5,500", link: "https://www.dot-st.com/lepsim/disp/item/581629/" },
          { name: "Bag", price: "5,500", link: "https://www.dot-st.com/lepsim/disp/item/581649/" },
        ],
        [
          { name: "Knit", price: "6,600", link: "https://www.dot-st.com/lepsim/disp/item/600244/" },
          { name: "Pants", price: "6,600", link: "https://www.dot-st.com/lepsim/disp/item/576760/" },
          { name: "Blouse", price: "5,990", link: "https://www.dot-st.com/lepsim/disp/item/582431/" },
          { name: "Shoes", price: "4,990", link: "https://www.dot-st.com/lepsim/disp/item/589556/" },
          { name: "Bag", price: "4,990", link: "https://www.dot-st.com/lepsim/disp/item/324877/" },
        ],
      ],
    },
  ]
%>

<% styleList.forEach(element => { %>
  <div id="style-modal-<%- element.name %>" class="style-modal style-modal--<%- element.name %> has-active">
  
    <div class="style-modal__container">
  
      <div class="style-modal__contents">

        <div class="style-modal__head">
          <div class="style-modal__head__type">
            <p><%- element.type %></p>
            <%
              const classNameCircle = `circle--style-modal-head circle--${element.circleColor}`
            %>
            <%- include("./_circle.ejs", {
              className: classNameCircle,
            }) %>
          </div>
          <p class="style-modal__head__name">BY_<%- element.name %></p>
        </div>

        <div class="style-modal__slider embla">
          <div class="embla__container">
            <% for (let i = 1; i <= element.listCount; i++) { %>
            <div class="embla__slide">
              <img class="style-modal__slide-1" src="<%- rootURL %>/assets/img/style/<%- element.name %>/<%- i %>.jpg" alt="">
              <img class="style-modal__slide-2" src="<%- rootURL %>/assets/img/style/<%- element.name %>/<%- i %>_2.jpg" alt="">
            </div>
            <% } %>
          </div>
        </div>

        <p class="style-modal__count">
          <span class="style-modal__count__arrow style-modal__count__arrow--left"><</span>
          <span class="style-modal__count__center">

            <span class="style-modal__count__center__current">1</span> / <%- element.listCount %>

          </span>
          <span class="style-modal__count__arrow style-modal__count__arrow--right">></span>
        </p>

        <div class="style-modal__info embla">
          <div class="embla__container">
            <% element.linkList.forEach(linkItems => { %>
            <div class="embla__slide">
              <ul class="style-modal__info__list">
                <% linkItems.forEach(link => { %>
                <li><a href="<%- link.link %>" target="_blank" rel="noopener noreferrer"><%- link.name %> &yen;<%- link.price %></a></li>
                <% }) %>
              </ul>
            </div>
            <% }) %>
          </div>
        </div>

        <button type="button" class="style-modal__close">
          <img src="<%- rootURL %>/assets/img/icon_close.svg" alt="">
        </button>
      </div>
  
    </div>
  
  </div>
<% }) %>